{% extends "base.html" %}

{% block content %}
<h1>Cursos</h1>
<a href="{{url_for('nuevo_curso')}}" class="btn btn-success mb-2">Nuevo</a>
<table class= "table table-striped table-hover" >
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Horas</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in cursos %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.horas }}</td>
            <td>
                <a href="{{ url_for('editar_curso',id=item.id)}}" class="btn btn-warning">Editar</a>
                <a href="{{ url_for('eliminar_curso',id=item.id) }}" class="btn btn-danger" onclick="return(confirm('Esta seguro ??'))">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}