{% extends "base.html" %}

{%  block content %}

<div class="card">
    <div class="card-header">
        <h2>
            {% if curso %}
            Editar 
            {% else %}
            Nuevo
            {% endif %}
             curso 
        </h2>

    <div>

    </div class="card-body">
        <form action=""method="POST">
            <div class="mb-3">
                <label for="" class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="descripcion"
                value="{{ curso.descripcion if curso else '' }}"required>

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Horas</label>
                <input type="txt" class="form-control" name="horas"  value="
                {{ curso.horas  if curso else ''}}"required>
            </div>
            <button class="btn btn-danger" type="submit">Enviar</button>
        </form>  


    </div>

</div>

{% endblock %}